<div class="login-wrapper">
  <div class="login-box">
    <h1 class="title">User Login</h1>

    <form (ngSubmit)="login()" class="login-form">
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        class="input-field"
        required
      />

      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        class="input-field"
        required
      />
<div class="error-message" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

      <button style="font-weight: 600;" type="submit" class="login-btn">Login</button>
    </form>

    <button style="font-weight: 600;" class="add-btn" (click)="goToAddUser()">
      Sign Up
    </button>
  </div>
</div>
